@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="font-italic" >Tic Tac Toe.. Online!</h1>
    <a asp-action="Index" asp-controller="Game" class="btn btn-outline-primary btn-lg">Join a new game!</a>
    <br />
    <a asp-action="Index" asp-controller="GameStatics" class="btn btn-group-sm btn-outline-info mr-1 mt-2">View Games Statics</a>
</div>
