
@model TicTacToeOnline.ViewModels.GamePartialViewModel;

<section>

    <table>
        @{
	    for (int i = 0; i < 3; i++)
	    {
                <tr>
                    @{ for (int j = 0; j < 3; j++)
			{
                            <td width="100" height="100" align="center">
                                <button height="100" style="width:100%;height:100%" id="@(i*3+j)" class="btn btn-outline-secondary btn-game"></button>
                            </td>
			}
                    }
                </tr>
	    }
        }
    </table>
    <div id="msg-box" class="text-sm-center mt-3"></div>
</section>
