
@model TicTacToeOnline.ViewModels.GamePartialViewModel;

<section>
    <table>
        @{
	    for (int i = 0; i < 3; i++)
	    {
                <tr>
                    @{ for (int j = 0; j < 3; j++)
			{
                            <td width="50" height="=50">
                                <button id="@(i*3+j)" class="btn btn-outline-secondary btn-game"></button>
                            </td>
			}
                    }
                </tr>
	    }
        }
    </table>
</section>
